<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow ">
    <div class="container col-lg-12">
        <div class="dropdown">
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <a class="navbar-brand " href="#" id="dropdownNavMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> Menu <i class="fas fa-angle-down"></i></a>
                <ul class="dropdown-menu  dropdown-menu-xl-right mt-sm-4 " aria-labelledby="dropdownNavMenu">
                    <li class="nav-item p-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="CreateProject" title="createProject">Create Project</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="MyProjects" title="myProjects">My Projects</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="MyProjects" title="myProjects">Latest News</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="MyProjects" title="myProjects">Users</a>
                    </li>
                </ul>
            }
        </div>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2 ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                        Search
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            }

        </div>
    </div>
</nav>