<div class="container-fluid">

<h2 class="h2  text-center">My Page</h2>

<div class="row p-5 ">
    <div class="col-5 mr-5 ml-auto overflow-auto">
        <span class="h3 sub-header text-muted ">TASKS ASSIGN TO ME</span>
        <table class="table table-responsive border mt-3 shadow">
            <thead>
                <tr>
                    <th class="h4 text-muted">Type</th>
                    <th class="h4 text-muted">Id</th>
                    <th class="h4 text-muted">Project</th>
                    <th class="h4 text-muted">Status</th>
                    <th class="h4 text-muted">AssignTo</th>
                    <th class="h4 text-muted">Comments</th>
                    <th class="h4 text-muted">AssignDate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BUG</td>
                    <td>1</td>
                    <td>Cyber Wars</td>
                    <td>In progress</td>
                    <td>User123</td>
                    <td>3</td>
                    <td>14.01.2022</td>
                </tr>
                <tr>
                    <td>MILESTONE</td>
                    <td>2</td>
                    <td>Cyber Wars</td>
                    <td>New</td>
                    <td>User123</td>
                    <td>3</td>
                    <td>14.01.2022</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-5  ml-5 mr-auto overflow-auto">
        <span class="h3 sub-header text-muted ">TASKS CREATED BY ME</span>

        <table class="table table-responsive border mt-3 shadow">
            <thead>
                <tr>
                    <th class="h4 text-muted">Type</th>
                    <th class="h4 text-muted">Id</th>
                    <th class="h4 text-muted">Project</th>
                    <th class="h4 text-muted">Status</th>
                    <th class="h4 text-muted">AssignTo</th>
                    <th class="h4 text-muted">Comments</th>
                    <th class="h4 text-muted">AssignDate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BUG</td>
                    <td>1</td>
                    <td>Cyber Wars</td>
                    <td>In progress</td>
                    <td>User123</td>
                    <td>3</td>
                    <td>14.01.2022</td>
                </tr>
                <tr>
                    <td>MILESTONE</td>
                    <td>2</td>
                    <td>Cyber Wars</td>
                    <td>New</td>
                    <td>User123</td>
                    <td>3</td>
                    <td>14.01.2022</td>
                </tr>
                <tr>
                    <td>BUG</td>
                    <td>3</td>
                    <td>Cyber Wars</td>
                    <td>In progress</td>
                    <td>User123</td>
                    <td>3</td>
                    <td>14.01.2022</td>
                </tr>
                <tr>
                    <td>MILESTONE</td>
                    <td>4</td>
                    <td>Cyber Wars</td>
                    <td>New</td>
                    <td>User123</td>
                    <td>3</td>
                    <td>14.01.2022</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>