
<div class="container mt-5">
    <div class="row">


        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Cyber Wars</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>

        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Quantum DMS</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>

        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Bug Tracker</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>

        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Azure Devops</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>

        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Sofia Wars</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>


        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Lady Zone Be.....</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>


        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Cyber Wars</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>


        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Cyber Wars</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>


        <a class="col-md-4 col-xl-3" asp-controller="Home" asp-action="Index">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Cyber Wars</h3>
                    <h6 class="m-b-20">All Tasks</h6>
                    <h2 class="text-right">
                        <i class="fas fa-tasks f-left"></i>
                        <span>4986</span>
                    </h2>
                    <p class="m-b-0">Completed Tasks<span class="f-right">351</span></p>
                </div>
            </div>
        </a>

    </div>
</div>

<style>


    a:hover {
        text-decoration: none;
 
    }
    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }

    .card:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 5px rgba(4,26,55,0.56);
    }
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }
</style>