<div class="q-alert-service col-md-10">
    <div class="form-group">
        @Html.Raw(ViewBag.Alert)
    </div>
</div>

<style>
    .q-alert-service {
        z-index: 100;
        position: absolute;
        top: 13%;
    }

    .q-member-link:hover {
        opacity: 5;
        cursor: pointer;
    }
</style>