@using BugTracker.Common

@inject UserManager<ApplicationUser> UserManager

<div class="dropdown">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <button class="btn btn-secondary rounded-circle p-sm-2 ml-4 m-2 fonts border h5 bg-warning " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="nav-link text-dark">@this.User.Identity.Name.First().ToString().ToUpper()</span>
        </button>
    }

    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <button class="btn btn-secondary   p-sm-2 ml-4 m-2 fonts border h5 bg-warning " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Sign Up</span>
        </button>
    }
    <ul class="dropdown-menu dropdown-menu-md-right mt-2 mr-xl-4 " aria-labelledby="dropdownMenuButton">
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyPage" title="myPage">My Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Manage" title="myAccount">My account</a>
            </li>
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Administration</a>
                </li>
            }
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</div>

