@using BugTracker.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cssUtilities.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/projectNav.css" asp-append-version="true" />
    @RenderSection("CssFile", required: false)
</head>
<body>
    <header>
        <partial name="~/Views/Shared/PartialViews/layoutPartials/_TopNavbarPartial.cshtml" />
    </header>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a class="q-nav-link" asp-controller="ProjectOptions" asp-action="Overview">&nbsp; <i class="fas fa-exclamation-circle f-right"></i> &nbsp;  Overview</a>
                </li>
                <li>
                    <a class="q-nav-link" asp-controller="ProjectOptions" asp-action="WorkItems">&nbsp; <i class="fa-solid fa-folder-open"></i>&nbsp; Work items</a>
                </li>
                <li>
                <li>
                    <a class="q-nav-link" href="#">&nbsp; <i class="far fa-calendar-alt"></i> &nbsp;  Time sheet</a>
                </li>
                <li>
                    <a class="q-nav-link" asp-controller="ProjectOptions" asp-action="ProjectNotes">&nbsp; <i class="fas fa-sticky-note"></i> &nbsp;  Notes</a>
                </li>
                <li>
                    <a class="q-nav-link" asp-controller="ProjectOptions" asp-action="Members">&nbsp; <i class="fas fa-users"></i> &nbsp;  Members</a>
                </li>
                <li>
                    <a class="q-nav-link" href="#">&nbsp; <i class="fas fa-cogs"></i> &nbsp;  Project settings</a>
                </li>
                <li>
                    <a class="q-nav-link" href="#">&nbsp; <i class="fas fa-comments"></i> &nbsp;  Team channels</a>
                </li>
            </ul>


        </nav>
        <div id="content">
            <partial name="_CookieConsentPartial" />
            @this.RenderBody()
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c731f1769b.js" crossorigin="anonymous" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>


