<div class="q-alert-service col-md-10">
    <div class="form-group">
        @Html.Raw(@ViewBag.Alert)
    </div>
</div>

<table class="table  q-table-members">
    <caption>
        <a class="q-caption-create-task dropdown-item btn" data-toggle="modal" data-target="#memberModal">
            + Add Member
        </a>
    </caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Groups</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Mihael Pavlov</td>
            <td>Pavlov@gmail.com</td>
            <td>Member</td>
            <td></td>
            <td>Active</td>
            <td> <a data-toggle="modal" data-target="#memberModal" class="q-member-link"><i class="fas fa-edit"></i></a> &nbsp;&nbsp;&nbsp; <a href="/Remove" class="q-member-link"> <i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <td>Ivan Holy</td>
            <td>Holy@gmail.com</td>
            <td>Reader</td>
            <td></td>
            <td>Active</td>
            <td> <a data-toggle="modal" data-target="#memberModal" class="q-member-link"><i class="fas fa-edit"></i></a> &nbsp;&nbsp;&nbsp; <a href="/Remove" class="q-member-link"> <i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <td>HristoIvanov</td>
            <td>Ivanonv@gmail.com</td>
            <td>Project Admin</td>
            <td>.NET Programmers</td>
            <td>Active</td>
            <td> <a data-toggle="modal" data-target="#memberModal" class="q-member-link"><i class="fas fa-edit"></i></a> &nbsp;&nbsp;&nbsp; <a href="/Remove" class="q-member-link"> <i class="fas fa-trash-alt"></i></a></td>
        </tr>

    </tbody>
</table>



<style>
    .q-alert-service {
        position: absolute;
        top: 13%;
       
    }
    .q-member-link:hover {
        opacity: 5;
        cursor: pointer;
    }
</style>
