@{
    var list = new List<string>();
    list.Add("0");
    list.Add("1");
    list.Add("2");
    list.Add("3");
    list.Add("4");
    list.Add("5");
    list.Add("6");
    list.Add("7");
    list.Add("8");
    list.Add("9");
    list.Add("10");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");
    list.Add("11");

}
<table id="example" class=" table table-hover q-table-open-task">
    <caption class="h6">
        <a class="q-caption-create-task dropdown-item btn" data-toggle="modal" data-target="#exampleModalCenter">
            + Create new task
        </a>
    </caption>
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">ID</th>
            <th scope="col">Project</th>
            <th scope="col">TaskName</th>
            <th scope="col">Status</th>
            <th scope="col">Assigne to</th>
            <th scope="col">Start date</th>
            <th scope="col">Finish date</th>
            <th scope="col">Create by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
        <tr onclick="location.href = '@(Url.Action("ShowTask", "ProjectOptions",new {taskId = item.ToString()}))'">
            <td>New</td>
            <th scope="row">@item.ToString()</th>
            <td>the Bird</td>
            <td>twitter</td>
            <td></td>
            <td></td>
            <td>the Bird</td>
            <td></td>
            <td>twitter</td>
            <td><a asp-controller="ProjectOptions" asp-action="ShowTask" asp-route-taskId="@item.ToString()" class="q-caption-create-task"><i class="fas fa-edit"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/Remove" class="q-caption-create-task"><i class="fas fa-trash"></i></a></td>
        </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Shared/PartialViews/projectOptions/AllOpenTasks/_CreateTaskModalPartial.cshtml" />

